<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block javascript %}
        <script type="module" src="public/assets/js/form_validation.js"></script>
    {% endblock %}

    {% block stylesheets %}
        <script type="module" src="public/assets/js/form_validation.js"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>